div#root {
  height: 100vh;
  font-family: 'Roboto', serif;
}

.calculator {
  width: 359px;
  height: 400px;
  display: grid;
  grid-template-areas:
    'result result result result'
    'AC plusnsub percentage division '
    'seven eight nine multi'
    'four five six substract'
    'one two three  plus'
    'zeroo zeroo dott equal';
  box-shadow: 3px 5px 6px 0 #696969bd;
  margin: 0 auto;
}

.result {
  grid-area: result;
  background-color: #858693;
  color: #fff;
  margin: 0;
}
.AC { grid-area: AC; }
.plusnsub { grid-area: plusnsub; }
.percentage { grid-area: percentage; }
.division { grid-area: division; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.multi { grid-area: multi; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.substract { grid-area: substract; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.plus { grid-area: plus; }
.zeroo { grid-area: zeroo; }
.dott { grid-area: dott; }
.equal { grid-area: equal; }

button {
  border: 0.5px solid #e2e2e2;
  font-size: 20px;
  cursor: pointer;
}

.orange {
  background-color: orange;
}

.result p {
  margin: 0;
  text-align: end;
  position: relative;
  padding-right: 15px;
  top: 33px;
  font-size: 22px;
}

.quotes {
  width: 630px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
}

.quotes h4 {
  color: #434343;
  line-height: 1.4;
}

h2 {
  margin: 0;
  padding-left: 20px;
  color: midnightblue;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 721px;
  margin: 20px 0;
  border-radius: 30px;
}

ul {
  display: flex;
}

ul li {
  padding: 0 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: midnightblue;
  font-weight: bold;
}

.home {
  background-color: #fff;
  padding: 20px;
  width: 630px;
  margin: 0 auto;
  border-radius: 10px;
}

.home-head {
  padding-left: 0;
}
